
.answer {
    background-color: lightgreen;
    border: 1px solid green;
    margin: 5px;    
}

.btn-fill {
    background-color: #dd4721;
    color: white;
    border: 1px solid #db2b00;
}

.btn-fill:hover {
    background-color: #db2b00;
    color: white;
    border: 1px solid #b82602;
}

.btn-fill:active {
    background-color: #db2b00;
    color: white;
    border: 1px solid #b82602;
}

.clockSize {
    font-size: 26px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.container-inner { 
    width: 100%; 
    height: 100%;
}

.container-outer { 
    width: 100%; 
    height: 100%; 
    overflow: auto;
    white-space: nowrap;
}

.container-outer::-webkit-scrollbar {
    background-color: transparent;
}

.container-outer::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.container-outer::-webkit-scrollbar-track {
    background-color: transparent;
}

.content-background {
    background-color: #f5f5f5;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.emoji {
    font-family: "Segoe UI Emoji"; 
    font-size: 26px;
    display: inline;
}

.emojiText {
    font-size: 26px;
    display: inline;
}

.font8Bit {
    font-family: 'Press Start 2P', cursive;
    color: #dd4721;
    font-weight: bold;
}

.guess {
    margin: 5px;
    border: 1px solid transparent;
}

.guess:hover {
    background-color: lightgoldenrodyellow;
    border: 1px solid gold;
    margin: 5px;
}

body {
    background-color: rgb(0, 0, 73);
    overflow: hidden;
}

.img-style {
    background-color: white;
    border: 5px solid white;
    border-radius: 3px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.img-style:hover {
    background-color: #86e1fa;
    border: 5px solid #0071f0;
    border-radius: 3px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.instructions {
    line-height: 150%;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-content {
    margin-top: 5px;
}

.nes {
    width: 100%;
    height: auto;
}

.nes-top {
    top:-20px;
    position: absolute;
}

#options {
    font-size: 18px;
    line-height: 200%;
}

.panel-header-text {
    font-weight: bold;
}

.panel-text {
    line-height: 200%;
}

.push {
    height: 20px;
}

#question {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.resetPad {
    padding-bottom: 10px;
    padding-top: 20px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.selected {
    background-color: lightgoldenrodyellow;
    border: 1px solid gold;
    margin: 5px;    
}

.timer {
    font-size: 26px;
    display: inline;
    padding-left: 10px;
}

.wrong {
    background-color: lightsalmon;
    border: 1px solid red;
    margin: 5px;    
}