
.answer {
    background-color: lightgreen;
    border: 1px solid green;
    margin: 5px;    
}

.clockSize {
    font-size: 26px;
}

.content-background {
    background-color: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.emoji {
    font-family: "Segoe UI Emoji"; 
    font-size: 26px;
    display: inline;
}

.emojiText {
    font-size: 26px;
    display: inline;
}

.guess {
    margin: 5px;
    border: 1px solid transparent;
}

.guess:hover {
    background-color: lightgoldenrodyellow;
    border: 1px solid gold;
    margin: 5px;
}

.margin-top {
    margin-top: 100px;
}

#options {
    font-size: 18px;
    line-height: 200%;
}

.panel-header-text {
    font-weight: bold;
}

.panel-text {
    line-height: 200%;
}

#question {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.resetPad {
    padding-bottom: 10px;
}

.selected {
    background-color: lightgoldenrodyellow;
    border: 1px solid gold;
    margin: 5px;    
}

.timer {
    font-size: 26px;
    display: inline;
    padding-left: 10px;
}

.wrong {
    background-color: lightsalmon;
    border: 1px solid red;
    margin: 5px;    
}